.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: calc(100% - 20px);
    background: #fff;
    border-radius: 20px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
}
.logo-title{
    color: #154DE0;
}