.input-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    width: calc(100% - 40px);
    height: 20px;
    border: 1px solid #fff;
    border-radius: 20px;

}
.input{
    border: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    display: flex;
    outline: none;
}
.input::placeholder{
    color: #fff;
    font-weight: 400;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;
}