@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Noto Sans Display", serif;
  font-weight: bold;
}
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #050505;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, span{
  margin: 0;
  padding: 0; 
  user-select: none;
}
h1{
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -4px;
}
h2{
  font-size: 100px;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -5px;
}
h6{
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -2px;
}
@media(max-width:700px){
  h1{
    font-size: 60px;
    line-height: 70px;
  }
  h2{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -3px;
  }
  h6{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.8px;
  }
  span{
    font-size: 12px;
    letter-spacing: -0.8px;
  }
}